.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3320800/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.fullstack-brand {
  color: #0cd29a;
  border-color: #0cd29a !important;
}

.courses-section--main {
  padding: 8% 1em;
}

.mk--row-item {
  margin: 2em auto;
  padding: 1em;
  max-width: 960px;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  color: #aaaaa3;
}

.mk--row-item:hover {
  text-decoration: none;
  color: #63636E;
  background: #FFFFFF;
  -webkit-box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.mk--col-item {
  padding: .5em !important;
}

.mk--item-image {
  width: 100%;
  max-width: 300px;
}

.mk--item-title {
  margin-bottom: 0;
}

.language-desc p {
  margin-bottom: 0;
}

.mk--row-module-list {
  max-width: 1400px;
  margin: auto;
}

.mk--module-item-container {
  padding: .5em !important;
}

.mk--module-item {
  padding: 1em !important;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  min-height: 200px;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  color: #aaaaa3;
}

.mk--module-item:hover {
  text-decoration: none;
  color: #63636E;
  background: #FFFFFF;
  -webkit-box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  .mk--col-item {
    padding: 1em !important;
  }
}
