.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3320800/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.fullstack-brand {
  color: #c50000;
  border-color: #c50000 !important;
}

.about-section:nth-child(2n) {
  background: #e0e0e0;
}

.about-image-background {
  background-image: url("https://source.unsplash.com/collection/3320800/");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  width: auto;
}

.about-text-container {
  margin: 8%;
  max-width: 500px;
}

.about-text-container .about-title {
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.about-text-container .about-title h3 {
  font-weight: 200;
  font-size: 2.25rem;
}

.about-text-container .about-text {
  line-height: 1.75;
  font-size: 14px;
}

@media (min-width: 768px) {
  .about-text-container--author {
    max-width: 50%;
  }
}
