

// COLOURS

$primary: $cyan
$white:   #f5f5f5
$black:   #343A40

// CHANGE LINE HEIGHT TO '2'
$headings-line-height:        1.5
$display-line-height: $headings-line-height

.display-4
  font-size: $display4-size
  font-weight: $display4-weight
  line-height: $display-line-height

// JUMBOTRON

$jumbotron-padding:  5rem

.jumbotron
  padding: $jumbotron-padding
  margin-bottom: 0
  @include media-breakpoint-up(sm)
    padding: ($jumbotron-padding * 2) $jumbotron-padding

