$primary: $cyan
$white:   #f5f5f5
$black:   #343A40

$jumbotron-padding:  5rem

.jumbotron
  padding: $jumbotron-padding
  margin-bottom: 0
  @include media-breakpoint-up(sm)
    padding: ($jumbotron-padding * 2) $jumbotron-padding

