// JUMBOTRON

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_6.jpg") center no-repeat / cover
  color: #dee2e6

.fullstack-brand
  color: #17a2b8
  border-color: #17a2b8 !important

// SUBHERO LINKS
.btn-subhero--home:hover
  color: #17a2b8


// COMMON STYLES
.home-section
  min-height: 400px
  width: 100%
  padding: 8% 1em
  color: #63636E

.home-section:nth-child(2n)
  background: #e0e0e0

.section-title--home
  padding-bottom: 1.5em

// CTA SECTION
.cta--home
  padding-top: 2em


// COMMON STYLES MEDIA QUERIES
@media (min-width: 768px)
  p.text-home
    font-size: 18px

// ABOUT
.home-about--row
  text-align: center
  max-width: 960px

// COURSES
.language-row-container--home
  padding: 4% !important

.language-col-container--home
  padding: .5em !important

.language-link--home
  border-radius: 10px
  overflow: hidden
  box-shadow: 0 60px 270px -65px rgba(0, 0, 0, 0.25)
  transition: all 350ms ease-in-out
  &:hover
    text-decoration: none
    background: #FFFFFF
    box-shadow: 0 65px 220px -45px rgba(0, 0, 0, 0.35)
    transform: translateY(-4px)

.language-image-container--home
  padding: 8% !important

.language-image--home
  width: 100%
  max-width: 250px

.language-title-container--home
  width: 100%
  padding: 1em
  background: #63636E
  color: #FFFFFF

// BLOG
.blog-row--home
  padding: 8% 0

.post-container-col
  margin-bottom: 2em

.blog-col--home > .information-container
  max-width: 600px

.post-container-home
  width: 100%
  max-width: 600px
  border: .5px solid rgba(0,0,0,.1)
  border-radius: 10px
  overflow: hidden
  box-shadow: 0 30px 40px -20px rgba(0,0,0,0.1)
  transition: all 350ms ease-in-out
  &:hover
    transform: translateY(-4px)
    box-shadow: 0 40px 60px -25px rgba(0,0,0,0.3)
    background: #ffffff

.post-thumbnail-container-home
  width: 100%
  max-width: 400px

.post-thumbnail-home
  width: 100%

.post-detail-container-home
  padding: 2em 1em

.post-title
  color: #333333 !important
  font-size: 2.5rem
  font-weight: 200
  margin-bottom: 1rem

.blog-details
  font-size: 12.75px
  color: #63636E
  font-style: italic

.post-snippet p
  margin-bottom: 0

.blog-read-more
  border-top: .5px solid rgba(0,0,0,.1)

.blog-read-more-icon
  width: 100%
  color: #aaaaa3
  padding: 1.25em
  font-size: 2.25em
  transition: all 350ms ease-in-out
  &:hover
    color: #63636E
    cursor: pointer
    transform: scale(1.25)
    text-shadow: 0 3px 10px rgba(0,0,0,.35)

@media (min-width: 768px)
  .post-container-col
    margin-bottom: 0

// FORUM

// ACCOUNT
