{% extends "home/base.html" %}
{% load staticfiles %}
{% block page_title %}About Fullstack | Learn Web Development{% endblock page_title %}
{% block head_css %}<link rel="stylesheet" href="{% static "css/pages/about.css" %}">{% endblock %}
{% block body %}
<div class="jumbotron text-center">
  <h1 class="display-4"><span class="fullstack-brand rounded-right brand-border border border-left-0 border-primary">Fullstack</span> About</h1>
</div>
<section class="sub-hero container-fluid">
    <div class="row no-gutters">
        <div class="col col-12 col-md-6 d-flex align-items-center">
            <span>Some cool about us comment goes here</span>
        </div>
        <div class="col col-12 col-md-6 d-flex align-items-center">
            Become a Patreon
        </div>
    </div>
</section>
<section class="about-section about-section-1">
    <div class="row no-gutters">
        <div class="col-12 col-md-4 about-image-background"></div>
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="about-text-container">
                <div class="about-title">
                    <h3 class="display-4">What is Fullstack?</h3>
                </div>
                <div class="about-text text-justify">
                    In a nutshell, Fullstack is a community which not
                    only helps you can learn but enables you to help
                    others within Web Development. Fullstack brings
                    all your development needs into one place from
                    weekly blog articles, discussion forums and
                    courses. Whether you’re a freelance developer,
                    work in a large corporation or develop websites
                    as a weekend hobby Fullstack has you covered.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section about-section-2">
    <div class="row no-gutters">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="about-text-container about-text-container--author">
                <div class="about-title">
                    <h3 class="display-4">Author</h3>
                </div>
                <div class="about-text text-justify">
                    I am a north London based Computer Science / Information Technology graduate.
                    After graduating from the University of Hertfordshire, I was fortunate for having
                    the experience of developing two main company websites for an exciting IT solutions
                    company, Joskos Solutions, as a Marketing Executive Assistant. Not only strengthening
                    my skillset in web development, this role also developed my knowledge within digital
                    marketing and graphic design outside my comfort zone. Alongside this I also worked as
                    a Technician for Dixons Carphone for over three years, where my passion for the
                    ever-growing technology soared. I also embarked on a short project for 360GSP, an IT
                    training and recruitment company, as a Designer / Developer which solidified my skills
                    using the latest industry standards.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section about-section-3">
    <div class="row no-gutters">
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="about-text-container">
                <div class="about-title">
                    <h3 class="display-4">My Story</h3>
                </div>
                <div class="about-text text-justify">
                    Due to the nature of the web development industry which is continuously growing at an
                    exponential rate, I wanted to ensure I have the relevant skills and knowledge to tackle
                    real world scenarios within the industry. This is where Code Institute comes in. I am
                    currently studying for a Diploma in Software Development through Code Institute in a
                    course which is aligned and accredited by the Edinburgh Napier University. Upon completion,
                    I will fulfil my goals of becoming a Full Stack Web Developer which will enable me to
                    integrate both Front End and Back End systems seamlessly.
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 about-image-background"></div>
    </div>
</section>
{% endblock %}
