<div class="information-container d-flex flex-column justify-content-center align-items-center">
    <div class="information-title"><strong>Haven't found what you're looking for?</strong></div>
    <div>
        <p class="mb-0">Don't worry, you can start a new thread once you've logged in.</p>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-around align-items-center">
        <a class="btn-solid login-required-cta--button" href="{% url 'register'%}"><i class="fas fa-user-plus"></i> Register</a>
        <a class="btn-solid login-required-cta--button" href="{% url 'login'%}"><i class="fas fa-sign-in-alt"></i> Log in</a>
    </div>
</div>