{% extends "forum/forum.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinyMCE.init({
            mode: "textareas",
            theme: 'modern',
            plugins: 'paste',
            branding: false,
            height: 400,
        });
    </script>
{% endblock %}
{% block forum %}
<section class="forum-intro">
    <h2>Post Form</h2>
    <div>Back to All forum, click <a href="{% url 'forum' %}">here</a></div>
</section>
<section class="forum-section--main post-form--forum">
    <div class="">
        <form method="POST" action="{{ form_action }}">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ button_text }}</button>
            </div>

        </form>
    </div>
</section>
{% endblock %}