{% load staticfiles %}
{% load thread_extras %}
{% load emoticons_tags %}
<div class="mk--post-item post-item row no-gutters">
    <div class="mk--col-item contributor-col col-12 col-md-3 d-flex flex-column justify-content-center justify-content-md-start align-items-center">
        <div class="contributor-icon">
            {% if post.user.is_staff %}
                <i class="fas fa-user-tie fa-3x"></i>
            {% else %}
                <i class="fas fa-user fa-3x"></i>
            {% endif %}
        </div>
        <p class="profile-info contributor-username text-center">{{ post.user.display_name }}{% if post.user.is_staff %}<br /><strong>Moderator</strong>{% endif %}</p>
        <p class="profile-info contributor-popularity mb-0">{{ post.user.posts.count }} POSTS</p>
    </div>
    <div class="mk--col-item post-content col-12 col-md-7 d-flex flex-column">
        <time class="post-timer" datetime="{{ post.created_at }}">
            Posted: {{ post.created_at|date:"D d M Y" }}, {{ post.created_at|time:"H:i A" }}
        </time>
        {% autoescape off %}{{ post.comment | emoticons }}{% endautoescape %}
    </div>
    {% if post.user == user or user.is_staff %}
    <div class="mk--col-item post-actions col-12 col-md-2 d-flex justify-content-center justify-content-md-end">
        <a class="post-user-action d-flex justify-content-center align-items-center" href="{% url 'edit_post' thread.id post.id %}"><i class="far fa-edit fa-lg"></i></a>
{#        <a class="post-user-action d-flex justify-content-center align-items-center" href="{% url 'delete_post' thread.id post.id %}"><i class="far fa-trash-alt fa-lg"></i></a>#}
    </div>
    {% endif %}
</div>