{% extends "forum/forum.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %}{{ subtitle }} {{ thread.name }} | Fullstack Forums | Learn Web Development{% endblock %}
{% block head_js %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinyMCE.init({
        mode: "textareas",
        theme: 'modern',
        plugins: 'paste',
        branding: false,
        height: 400,
    });
</script>
{% endblock %}
{% block forum_subtitle %}
    <div class="row no-gutters">
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'forum' %}">All Forums</a>
    </div>
{% endblock %}
{% block forum %}
<section class="forum-section--main post-form--forum">
    <div class="thread-name-container row no-gutters justify-content-center align-items-center">
        <h2 class="display-4">{{ subtitle }} {{ thread.name }}</h2>
    </div>
    <form method="POST" action="{{ form_action }}" class="mk--forms post-form">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn admin-btn">{{ button_text }}</button>
        </div>
    </form>
</section>
{% endblock %}