{% load staticfiles %}
{% load emoticons_tags %}
<div class="singular-post-container">
    <div class="row no-gutters">
        <div class="col-3 contributor-profile">
            <span class="profile-info contributor-username">{{ post.user.username }}</span>
            <span class="profile-info contributor-popularity">{{ post.user.posts.count }} POSTS</span>
        </div>
        <div class="col-9 post-content">
            {% autoescape off %}
                {{ post.comment | emoticons }}
            {% endautoescape %}
        </div>
    </div>
    {% include "forum/comment_details.html" %}
</div>
