{% extends "forum/forum.html" %}
{% load thread_extras %}
{% block page_title %}Fullstack Forum | Learn Web Development{% endblock %}
{% block forum_subtitle %}<h2>Welcome to the Fullstack Forum</h2>{% endblock %}
{% block forum %}
{% load bootstrap_tags %}
<section class="forum-section--main subject-list">
    {% for subject in subjects %}
    <a href="{% url 'threads' subject.id %}" class="mk--row-item subject-item row no-gutters">
        <div class="mk--col-item subject-icon col-12 col-md-2 d-flex justify-content-center align-items-center">
            <i class="far fa-folder-open fa-3x"></i>
        </div>
        <div class="mk--col-item subject-title-col col-12 col-md-7 d-flex flex-column justify-content-center text-center text-md-left justify-content-md-start">
            <h3 class="mk--item-title subject-title">{{ subject.name }}</h3>
            <div class="subject-desc">{% autoescape off %}{{ subject.description }}{% endautoescape %}</div>
        </div>
        <div class="mk--col-item activity-counter col-12 col-md-3 d-flex flex-column justify-content-center align-items-center align-items-md-end">
            <div class="thread-counter">Threads: <span>{{ subject.threads.count }}</span></div>
            <div class="posts-counter">Posts: <span>{{ subject|get_total_subject_posts }}</span></div>
        </div>
    </a>
    {% empty %}
    <div class="information-container d-flex flex-column justify-content-center align-items-center">
        <div class="information-title">
            <strong>Our forum is currently empty</strong>
        </div>
        <div>
            <p class="mb-0">Stay tuned as we are continuously adding new topics to our forum.</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
