{% extends "forum/forum.html" %}
{% load thread_extras %}
{% block forum %}
    <section class="forum-intro">
        <h2>Welcome to the Fullstack Forum</h2>
    </section>
    {% load bootstrap_tags %}
    <section class="subject-list container-fluid">
    {% for subject in subjects %}
    <div class="subject-item container row no-gutters">
        <a class="subject-link">
            <div class="subject-icon-col col-6 col-md-2">

            </div>
            <div class="subject-title-col col">
                <h3 class="subject-title">{{ subject.name }}</h3>
            </div>
            <div class="subject-desc-col col">
                <div class="subject-desc">{% autoescape off %}{{ subject.description }}{% endautoescape %}</div>
            </div>
            <div class="activity-counter col">
                <div class="thread-counter">Threads: <span>{{ subject.threads.count }}</span></div>
                <div class="posts-counter">Posts: <span>{{ subject|get_total_subject_posts }}</span></div>
            </div>
        </a>
    </div>
    {% endfor %}

    </section>
{% endblock %}



