<section class="thread-section forum-section">
    <a class="thread-link forum-title-link" href="{% url 'thread' thread.id %}">
        <div class="thread-container forum-container container row no-gutters align-items-center">
            <div class="thread-name col-12 col-md-6">
                <h2 class="forum-title thread-title">{{ thread.name }}</h2>
            </div>
            <div class="thread-created-by col-12 col-md-3">
                <span>{{ thread.user }}</span>
            </div>
            <div class="thread-created-at col-12 col-md-3">
                <span>{{ thread.created_at }}</span>
            </div>
         </div>
    </a>
</section>
