{% extends "forum/forum.html" %}
{% load thread_extras %}
{% block forum %}
    <section class="forum-intro">
        <h2>{{ subject.name }}</h2>
        <div>Back to All forum, click <a href="{% url 'forum' %}">here</a> </div>
        {% if user.is_authenticated %}
            <p>
                <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
            </p>
        {% endif %}
    </section>
    <section class="forum-section--main subject-list">
        {% for thread in subject.threads.all %}
        {% include "forum/thread_item.html" %}
        {% endfor %}
    </section>
{% endblock %}
