{% extends "forum/forum.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %}Create a New Thread | Fullstack Forums | Learn Web Development{% endblock %}
{% block head_js %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinyMCE.init({
            mode: "textareas",
            theme: 'modern',
            plugins: 'paste',
            branding: false,
            height: 400,
        })
    </script>
{% endblock %}
{% block forum_subtitle %}
<div class="row no-gutters">
    <a class="btn btn-subhero btn-subhero--forum" href="{% url 'forum' %}">All Forums</a>
</div>
{% endblock %}
{% block forum %}
<section class="forum-section--main thread-form--forum">
    <div class="forum-section--title row no-gutters">
        <h2>Create a new thread</h2>
    </div>
    <form method="POST" action="{% url 'new_thread' subject.id %}" class="mk--forms thread-form">
        {% csrf_token %}
        <div class="mk--field-row">
            {{ thread_form | as_bootstrap }}
        </div>
        <div id="poll_form" class="mk--field-row">
            {{ poll_form | as_bootstrap }}
            {{ poll_subject_formset.management_form }}
            {% for poll_subject_form in poll_subject_formset %}
                {{ poll_subject_form | as_bootstrap }}
            {% endfor %}
        </div>
        <div class="mk--field-row">
            {{ post_form | as_bootstrap }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn admin-btn">Post New Thread</button>
        </div>
    </form>
</section>

<script>
    function showOrHidePollForm() {
        if ($('#id_is_a_poll').is(':checked')) {
            $('#poll_form').show();
            $('#id_question').prop("disabled", false);
        } else {
            $('#poll_form').hide();
            $('#id_question').prop("disabled", true);
        }
    }
    $(document).ready(showOrHidePollForm);
    $('#id_is_a_poll').change(showOrHidePollForm);
</script>
{% endblock %}
