<a href="{% url 'thread' thread.id %}" class="mk--row-item thread-item row no-gutters">
    <div class="mk--col-item thread-title-col col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
        <h3 class="mk--item-title thread-title">{{ thread.name }}</h3>
    </div>
    <div class="mk--col-item thread-created-by col-12 col-md-4 d-flex justify-content-center justify-content-md-start align-items-center">
        <span class="thread-creator">{{ thread.user }}</span>
    </div>
    <div class="mk--col-item thread-created-at col-12 col-md-2 d-flex flex-column justify-content-center align-items-center align-items-md-end">
        <span class="thread-created-date">{{ thread.created_at|date:"d/m/Y" }}</span>
        <span class="thread-created-time">{{ thread.created_at|date:"H:i" }}</span>
    </div>
</a>







{#<section class="thread-section forum-section">#}
{#    <a class="thread-link forum-title-link" href="{% url 'thread' thread.id %}">#}
{#        <div class="thread-container forum-container container row no-gutters align-items-center">#}
{#            <div class="thread-name col-12 col-md-6">#}
{#                <h2 class="forum-title thread-title">{{ thread.name }}</h2>#}
{#            </div>#}
{#            <div class="thread-created-by col-12 col-md-3">#}
{#                <span>{{ thread.user }}</span>#}
{#            </div>#}
{#            <div class="thread-created-at col-12 col-md-3">#}
{#                <span>{{ thread.created_at }}</span>#}
{#            </div>#}
{#         </div>#}
{#    </a>#}
{#</section>#}
