{% extends 'forum/forum.html' %}
{% load thread_extras %}
{% load staticfiles %}
{% block page_title %}{{ thread.name }} | Fullstack Forums | Learn Web Development{% endblock %}
{% block forum_subtitle %}
    <div class="row no-gutters">
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'forum' %}">All Forums</a>
        {% if user.is_authenticated %}
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'new_post' thread.id %}">New Post</a>
        {% endif %}
    </div>
{% endblock %}
{% block forum %}
<section class="forum-section--main post-list">
    <div class="row no-gutters thread-name-container justify-content-center align-items-center">
        <h2 class="display-4">{{ thread.name }}</h2>
    </div>
    <div class="thread-info-container flex-column flex-lg-row row no-gutters justify-content-center align-items-center">
        <div class="thread-info post-created">Thread Created: <strong><span><time datetime="{{ thread.created_at }}"> {{ thread.created_at | started_time }} </time></span></strong></div>
        <div class="thread-info post-owner">Created by: <strong><span>{{ thread.user.username }}</span></strong></div>
        <div class="thread-info last-post">Last Post: <strong>{% last_posted_user_name thread %}</strong></div>
    </div>
    {% if thread.poll %}
    <div class="thread-info-container">
        <div class="poll-section col-12">
            <h3 class="poll-title">{{ thread.poll.question }}</h3>
            {% for subject in thread.poll.subjects.all %}
            <div class="poll-subject-row row">
                <div class="poll-subject-col col-12 col-md-4 d-flex align-items-center justify-content-between">
                    <strong>{{ subject.name }}</strong>
                    <span class="fa-pull-right">{{ subject | vote_percentage }}%</span>
                </div>
                <div class="poll-subject-col col-12 col-md-5">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="{{ subject | vote_percentage }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ subject | vote_percentage }}%;">
                        </div>
                    </div>
                </div>
                <div class="poll-subject-col col-12 col-md-3 d-flex justify-content-center align-items-center">
                {% autoescape off %}{% user_vote_button thread subject user %}{% endautoescape %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% for post in thread.posts.all %}
    {% include "forum/post.html" %}
    {% endfor %}
    <div class="new-post-section">
        {% if user.is_authenticated %}
        <a href="{% url 'new_post' thread.id %}" class="btn admin-btn">New Post</a>
        {% else %}
        <div class="login-required-container d-flex flex-column justify-content-center align-items-center">
            <div class="login-required-title">
                <strong>Looking to contribute to this thread?</strong>
            </div>
            <div class="login-required-info">
                You must be logged in to reply to this thread. Click on one of the links below to login or register.
            </div>
            <div class="login-required-cta d-flex flex-column flex-sm-row justify-content-around align-items-center">
                <a class="login-required-cta--button" href="{% url 'register'%}"><i class="fas fa-user-plus"></i> Register</a>
                <a class="login-required-cta--button" href="{% url 'login'%}"><i class="fas fa-sign-in-alt"></i> Log in</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}