{% extends "forum/forum.html" %}
{% load thread_extras %}
{% block page_title %}{{ subject.name }} Threads | Fullstack Forums | Learn Web Development{% endblock %}
{% block forum_subtitle %}
    <div class="row no-gutters">
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'forum' %}">All Forums</a>
        {% if user.is_authenticated %}
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'new_thread' subject.id %}">New Thread</a>
        {% endif %}
    </div>
{% endblock %}
{% block forum %}
<section class="forum-section--main threads-list">
    <div class="row no-gutters thread-name-container justify-content-center align-items-center">
        <h2 class="display-4">{{ subject.name }} Threads</h2>
    </div>
    {% for thread in subject.threads.all %}
    {% include "forum/thread_item.html" %}
    {% empty %}
    <div class="information-container d-flex flex-column justify-content-center align-items-center">
        <div class="information-title">
            <strong>There are no {{ subject.name }} threads at the moment!</strong>
        </div>
        {% if user.is_authenticated %}
        <div>
            <p>Be the first to get the conversation going by clicking on the 'New Thread' button below.</p>
        </div>
        {% else %}
        <div>
            <p>You could be the first to get the conversation going.</p>
            <p class="mb-0">Simply log in or register by clicking the button below.</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="new-post-section">
        {% if user.is_authenticated %}
            <a href="{% url 'new_thread' subject.id %}" class="btn admin-btn">New Thread</a>
        {% else %}
        {% include "forum/thread_contribution.html" %}
        {% endif %}
    </div>
</section>
{% endblock %}
