{% extends "forum/forum.html" %}
{% load thread_extras %}
{% block page_title %}{{ subject.name }} Threads | Fullstack Forums | Learn Web Development{% endblock %}
{% block forum_subtitle %}
    <div class="row no-gutters">
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'forum' %}">All Forums</a>
        {% if user.is_authenticated %}
        <a class="btn btn-subhero btn-subhero--forum" href="{% url 'new_thread' subject.id %}">New Thread</a>
        {% endif %}
    </div>
{% endblock %}
{% block forum %}
<section class="forum-section--main threads-list">
    <div class="row no-gutters thread-name-container justify-content-center align-items-center">
        <h2 class="display-4">{{ subject.name }} Threads</h2>
    </div>
    {% for thread in subject.threads.all %}
    {% include "forum/thread_item.html" %}
    {% empty %}
    {% include "forum/no_threads.html" %}
    {% endfor %}
    <div class="new-post-section">
        {% if user.is_authenticated %}
            <a href="{% url 'new_thread' subject.id %}" class="btn admin-btn">New Thread</a>
        {% else %}
        {% include "forum/new_thread.html" %}
        {% endif %}
    </div>
</section>
{% endblock %}
