.navbar
  box-shadow: 0 20px 40px -15px rgba(0, 0, 0, .4)
  padding-left: 0

nav
  .navbar-brand
    padding: .5rem 1rem
    font-size: 1.5rem
    letter-spacing: 1.5px
    text-transform: uppercase
    transition: all ease-in-out 300ms
    color: $primary !important
    &:hover
      color: #FFFFFF !important
  .brand-border
    border-color: $primary !important
    &:hover
      border-color: #FFFFFF !important

// OVERRIDE BOOTSTRAP ACTIVE CLASS ON NAVBAR LINKS
nav .active a
  color: #17a2b8 !important
