// JUMBOTRON

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://source.unsplash.com/collection/3320800/")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  color: #dee2e6

.fullstack-brand
  color: #17a2b8
  border-color: #17a2b8 !important

// GLOBAL FORUM STYLES
.cart-section--main
  padding: 8% 1em


.cart-items--row
  margin: 2em auto
  padding: 2em
  background: #FFFFFF
  border: .5px solid rgba(0,0,0,0.08)
  box-shadow: 0 10px 40px -25px rgba(0,0,0,0.25)
  color: #63636E
  p
    margin-bottom: 0

.cart-items--col
  //border: 1px solid red
  padding: 1em !important

.cart-items--title
  font-size: 1.5em


.cart-items--remove
  font-size: 14px
  font-style: italic
  color: #aaaaa3

.cart-items--total
  text-transform: uppercase
  letter-spacing: .5px
  span
    margin-left: 1em
