// JUMBOTRON

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_4.jpg") center no-repeat / cover
  color: #dee2e6

.fullstack-brand
  color: #0cd29a
  border-color: #0cd29a !important

// CART STYLES

.btn-subhero--cart
  display: inline-block
  color: #0cd29a
  &:hover
    color: #FFFFFF

.cart-section--main
  padding: 8% 1em

.cart-items--row
  margin: 2em auto
  padding: 2em
  background: #FFFFFF
  border: .5px solid rgba(0,0,0,0.08)
  box-shadow: 0 10px 40px -25px rgba(0,0,0,0.25)
  color: #63636E
  p
    margin-bottom: 0

.cart-items--col
  padding: 1em !important

.cart-items--title
  font-size: 1.5em

.cart-items--remove
  font-size: 14px
  font-style: italic
  a
    color: #aaaaa3
    transition: all 100ms ease-in-out
    &:hover
      text-decoration: none
      color: #636363


.cart-total--row
  margin: 2em auto
  padding: 2em
  background: rgba(255,255,255,1)
  border-top: 1px solid #0cd29a
  border-bottom: 1px solid #0cd29a
  box-shadow: 0 10px 40px -25px rgba(0,0,0,0.25)
  color: #63636E
  p
    margin-bottom: 0

.cart-total--col
  padding: 1em 0 !important

.cart-items--total
  text-transform: uppercase
  letter-spacing: .5px
  font-size: 1.25em
  span
    margin-left: 1em

.empty-cart-cta--button
  display: inline-block
  margin-top: 2em
  background-color: #0cd29a
  padding: 1em 1.8em
  font-weight: 400
  box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4)
  &:hover
    transform: translateY(-4px)
    box-shadow: 0 11px 19px -8px rgba(0, 0, 0, 0.6)

@media (min-width: 768px)
  .empty-cart-cta--button
    font-size: 1.25em
