{% extends "courses/courses_home.html" %}
{% load thread_extras %}
{% block courses %}
    <section class="forum-intro">
        <h2>Welcome to the our Courses</h2>
    </section>
    {% load bootstrap_tags %}
    {% for framework in frameworks %}
        <div class="container subject-container row no-gutters align-items-center">
            <div class="subject-title-col col-12 col-md-4">
                <a href="{% url "frameworks" framework.id %}"><h2 class="subject-title forum-title">{{ framework.title }}</h2></a>
            </div>
            <div class="subject-desc-col col-12 col-md-5">
                <span class="subject-desc">{% autoescape off %}{{ framework.description }}{% endautoescape %}</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}