{% extends "courses/courses.html" %}
{% load thread_extras %}
{% block page_title %}Fullstack Courses | Learn Web Development{% endblock %}
{% block courses_subtitle %}
    <h2>Choose from the list of languages below</h2>
{% endblock %}
{% block courses %}
    <section class="courses-section--main">
        {% for language in languages %}
        <a href="{% url 'modules' language.id %}" class="mk--row-item language-item row no-gutters">
            <div class="mk--col-item language-image-col col-12 col-md-3 d-flex justify-content-center align-items-center">
                {% if language.image %}
                <img class="mk--item-image language-image" src="{{ MEDIA_URL }}/{{ language.image }}" alt="{{ language.title }} Image" />
                {% else %}
                <img class="mk--item-image language-image" src="/media/images/courses/languages/placeholder.png" alt="Placeholder Coding Image" />
                {% endif %}
            </div>
            <div class="mk--col-item language-title-col col-12 col-md-4 d-flex justify-content-center justify-content-md-start align-items-center">
                <h3 class="mk--item-title language-title">{{ language.title }}</h3>
            </div>
            <div class="mk--col-item language-desc-col col-12 col-md-5 d-flex justify-content-start align-items-center">
                <div class="language-desc">{% autoescape off %}{{ language.description }}{% endautoescape %}</div>
            </div>
        </a>
        {% empty %}
        <div class="empty-container d-flex flex-column justify-content-center align-items-center">
            <div class="empty-title">
                <strong>There are no courses here at the moment!</strong>
            </div>
            <div class="empty-info">
                <p>Thank you for visiting, but we don't have any available courses at the moment.</p>
                <p>We are in the process of adding new courses. Please come back soon when we'll have some courses available.</p>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}