{% extends "courses/courses.html" %}
{% load thread_extras %}
{% block page_title %}{{ language.title }} Courses | Learn Web Development{% endblock %}
{% block courses_subtitle %}<h2>{{ language.title }} Courses</h2>{% endblock %}
{% block courses %}
<section class="courses-section--main">
    <div class="mk--row-module-list row no-gutters">
        {% for module in modules %}
        {% include "courses/module.html" %}
        {% empty %}
        {% include "courses/no_modules.html" %}
        {% endfor %}
    </div>
</section>
{% endblock %}
