<div class="mk--module-item-container col-12 col-md-6 col-xl-3">
    <div class="mk--module-item d-flex flex-column justify-content-center align-items-center">
        <h3 class="module-item--title">{{ module.title }}</h3>
        <p class="module-item--price"><span>£</span>{{ module.price }}</p>
        <p class="module-item--release">Released: {{ module.created_at|date:"D d M Y" }}</p>
        <div class="module-item--description">{% autoescape off %}{{ module.description }}{% endautoescape %}</div>
        <form class="mt-auto" method="post" action="{% url 'add_to_cart' module.id %}">
            {% csrf_token %}
            <button class="enrol-btn"><i class="fas fa-graduation-cap"></i> Enrol Today</button>
        </form>
    </div>
</div>