{% extends "courses/courses.html" %}
{% load thread_extras %}
{% load bootstrap_tags %}
{% block page_title %}Add a New Language | Fullstack Admin Area{% endblock %}
{% block courses_subtitle %}
    <h2>New Language</h2>
{% endblock %}
{% block courses %}
    <section class="courses-section--main">
        <div class="row no-gutters d-flex flex-column">
            <div class="container">
                <form class="courses-form courses--new-module" method="POST" action="{% url 'courses' %}">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn admin-btn">Save</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
