{% extends "courses/courses.html" %}
{% load thread_extras %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinyMCE.init({
        mode: "textareas",
        theme: 'modern',
        plugins: 'paste',
        branding: false,
        height: 400,
    });
</script>
{% endblock %}
{% block page_title %}Add a New Module | Fullstack Admin Area{% endblock %}
{% block courses_subtitle %}
    <h2>New Module</h2>
{% endblock %}
{% block courses %}
    <section class="courses-section--main">
        <div class="row no-gutters d-flex flex-column">
            <div class="container">
                <form class="mk--forms courses--new-module" method="POST">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn admin-btn">Save</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
