<div class="information-container d-flex flex-column justify-content-center align-items-center">
    <div class="information-title"><strong>Well, isn't this is embarrassing!</strong></div>
    <div>
        <p>We don't have any courses here at the moment. But please do come back soon for some really cool awesomeness.</p>
        <p class="mb-0">In the meantime, why not check out our other courses by clicking the link below?</p>
        <a class="courses-cta--button" href="{% url 'courses'%}"><i class="fas fa-graduation-cap"></i> More Courses</a>
    </div>
</div>