// JUMBOTRON

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_4.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  color: #dee2e6

.fullstack-brand
  color: #f7f020
  border-color: #f7f020 !important

// SUBHERO LINKS
.btn-accent--blog
  padding: .75em 1em
  &:hover
    color: #f7f020

// BLOG SECTION PADDING
.blog-section--main
  padding: 8% 1em

// BLOG POST OVERVIEW

.post-container
  margin: 4em 0
  border-radius: 10px
  box-shadow: 0 30px 40px -20px rgba(0,0,0,0.1)
  transition: all ease-in-out 350ms
  overflow: hidden
  &:hover
    background: #ffffff
    box-shadow: 0 40px 60px -25px rgba(0,0,0,0.3)
    transform: translateY(-4px)

.post-image-container
  border-right: .5px solid rgba(0,0,0,.20)
  overflow: hidden !important
  height: 350px

.post-thumbnail
  width: auto
  height: 100%

.post-detail-container
  padding: 1.5em .5em !important

@media (min-width: 768px)
  .post-detail-container
    padding: 1.5em 3em !important

.post-title
  color: #333333 !important
  font-size: 2rem
  font-weight: 200
  margin-bottom: 1rem

@media (min-width: 768px)
  .post-title
    font-size: 2.5rem

.post-details
  font-size: 12px
  color: #63636E

.post-snippet
  color: #333333
  font-size: 14px
  line-height: 1.75em

.blog-read-more
  border-left: .5px solid rgba(0,0,0,.20)
  height: 100%

.blog-read-more-icon
  color: #aaaaa3
  padding: 1.25em
  font-size: 2.25em
  transition: all 350ms ease-in-out
  &:hover
    color: #63636E
    cursor: pointer
    transform: scale(1.25)
    text-shadow: 0 3px 10px rgba(0,0,0,.35)

// BLOG SINGLE POSTS
// -----------------

// BLOG SECTION ROWS
.blog-section-row
  margin-bottom: 2em
  &:last-of-type
    margin-bottom: 0

// BLOG SECTIONS
.blog-section
  background: #FFFFFF
  padding: 1em
  font-size: 14px
  color: #63636E
  max-width: 960px
  margin: auto
  border: .5px solid rgba(0,0,0,.15)
  border-radius: 10px
  box-shadow: 0 15px 38px -12px rgba(0, 0, 0, .095)

@media (min-width: 768px)
  .blog-section
    padding: 2em
    font-size: 16px

// POST HEADER
.blog-header-container
  background: #FFFFFF
  max-width: 960px
  margin: auto
  border: .5px solid rgba(0,0,0,.15)
  border-radius: 10px
  box-shadow: 0 15px 38px -12px rgba(0, 0, 0, .095)
  overflow: hidden

.blog-img-main
  width: 100%
  height: 300px
  object-fit: cover
  object-position: center

.blog-header-title
  padding: 1em
  h3

    color: #63636E

// ADMIN EDIT CONTAINER
.blog-section-admin
  position: relative
  background: #ea6823
  padding: 2em
  color: #f2f2f2
  max-width: 960px
  margin: auto
  border-radius: 10px
  box-shadow: 0 15px 38px -12px rgba(0, 0, 0, .095)

// BLOG DETAILS
.blog-details
  font-size: 12px
  color: #63636E
  font-style: italic

@media (min-width: 768px)
  .blog-details
    font-size: 14px

// BLOG BUTTONS
.blog-buttons
  background: #63636E

// INCREASE LINE HEIGHT ON BLOG MAIN CONTENT FOR BETTER READABILITY
.blog-main-content
  line-height: 1.75

// BUTTONS
.edit-post-btn
  float: right
  color: #343a40
  background-color: #FFFFFF
  &:hover
    color: #343a40
    background-color: #FFFFFF

// FORM
.form-container
  max-width: 960px
  margin: auto

.blog-post-form--title
  position: relative
  display: inline-block
  padding-bottom: .5em
  color: #63636E
  margin-bottom: 2.5em
  &::after
    position: absolute
    content: ''
    height: 1px
    width: 35%
    background: #63636E
    top: 100%
    left: 0

@media (max-width: 767px)
  .post-image-container
    border-right: none
    height: auto

  .post-thumbnail
    width: 100%
    height: auto

  .blog-read-more
    border-left: none
    border-top: .5px solid rgba(0,0,0,.20)

@media (max-width: 577px)
  .edit-post-btn
    float: none
