<div class="information-container d-flex flex-column justify-content-center align-items-center">
    <div class="information-title">
        <strong>Your cart is currently empty</strong>
    </div>
    <div class="pb-0">
        <p>Please add modules to your cart before proceeding to checkout.</p>
        <p class="mb-0">To add modules, click the link below to check out our range of courses.</p>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-around align-items-center">
        <a class="courses-cta--button" href="{% url 'courses'%}"><i class="fas fa-graduation-cap"></i> Courses</a>
    </div>
</div>
