{% extends 'home/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Fullstack Checkout | Learn Web Development | Minesh Kothari{% endblock page_title %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
{% endblock %}
{% block head_css %}<link rel="stylesheet" href="{% static "css/pages/checkout.css" %}">{% endblock head_css %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4"><span class="fullstack-brand rounded-right border border-left-0">Fullstack</span> Checkout</h1>
</div>
<section class="sub-hero">
    <div class="row no-gutters">
        <div class="col col-12">
            <h2>Proceed with checkout</h2>
        </div>
    </div>
</section>
<section class="checkout-section--main">
    <div class="row no-gutters checkout-section--row">
        <div class="col-12 col-md-6 checkout-section-col cart-list--col">
            <h3 class="cart-item-list-title">Cart Items</h3>
            {% for item in cart_items %}
            <div class="row no-gutters cart-items--row d-flex align-items-center">
                <div class="col-12 col-sm-8 cart-items--col">
                    <div class="cart-items--title text-center text-sm-left">{{ item.module.title }}</div>
                </div>
                <div class="col-12 col-sm-4 cart-items--col d-flex align-items-center justify-content-center justify-content-sm-end">
                    <p>£ {{ item.module.price }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="row no-gutters cart-total--row">
                <div class="col-12 cart-total--col d-flex justify-content-center justify-content-sm-end align-items-center">
                    <p class="cart-items--total"><strong>Total</strong> <span>£{{ total }}</span></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 checkout-section-col payment-col">
            <form role="form" method="post" id="payment-form" class="payment-form" action="{% url 'checkout' %}">
                <legend class="payment-form--legend">Payment Details</legend>
                <div class="form-group">
                    {{ payment_form|as_bootstrap }}
                </div>
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                {% csrf_token %}
                <button type="submit" class="payment-button"><i class="fas fa-credit-card"></i> Make Payment</button>
{#                <input class="payment-button" id="submit_payment_btn" name="commit" type="submit" value="Make Payment" />#}

            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block page_specific_js %}
<script type="text/javascript" src="{% static 'js/fullstack/stripe.js' %}"></script>
{% endblock %}