// JUMBOTRON

.fullstack-brand
  padding: .5rem 1rem
  text-transform: uppercase
  font-weight: 400

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://source.unsplash.com/collection/3320773/")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  color: #dee2e6

.jumbotron span.border
  border: 2px solid #FF4500 !important
  border-left: 0 !important

// FORUM INTRO
.forum-intro
  background: #4e555b
  color: #aaaaa3
  padding: 8%

// SUBJECT SECTIONS

//.subject-section
//  padding: 5%

.subject-section:nth-child(2n+1)
  background: #e1e4ea

.subject-section:nth-child(2n)
  background: #eaeaea

.subject-container
  margin: auto
  padding: 5%

.subject-title
  color: #aaaaa3

.subject-link
  color: #aaaaa3
  transition: all 350ms ease-in-out
  &:hover
    text-decoration: none
    color: #63636E

.subject-desc p
  color: #63636E
  font-weight: 200

.activity-counter
  text-transform: uppercase
  letter-spacing: 1px
  color: #63636E
  span
    font-weight: 800