//// ALL FORMS
//.mk--forms
//  input
//    background: #f5f5f5
//    padding: 1em
//    line-height: 1.5
//  .mce-tinymce.mce-container.mce-panel
//    background: #f5f5f5
//  .mce-panel
//    background: #f5f5f5
//  label.control-label
//    font-weight: 400
//    letter-spacing: 1px
//    text-transform: uppercase
//    padding: 1em 0
//    font-size: 18px
//    line-height: 1.75em
//
//// BLOG
//// BlogPostForm
//.blog-post-form
//  #div_id_title,
//  #div_id_content,
//  #div_id_tag,
//  #div_id_image
//    background: #fff
//    margin: 2em 0
//    padding: 2%
//    border-radius: 10px
//    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.05)
//
//// FORUM
//// ThreadForm
//.thread-form
//  #div_id_name,
//  #div_id_is_a_poll,
//  #div_id_comment
//    background: #fff
//    margin: 2em 0
//    padding: 2%
//    border-radius: 10px
//    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.05)
//

//// PostForm
//.post-form
//  #div_id_comment
//    background: #fff
//    margin: 2em 0
//    padding: 2%
//    border-radius: 10px
//    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.05)

// ALL FORMS
.mk--forms
  .form-control
    padding: 1em
    background: #fff
    border-top: 2px solid #fff
    border-left: 2px solid #fff
    border-right: 2px solid #fff
    border-bottom: 2px solid #0cd29a
    border-radius: 0
    color: #63636E
    transition: all 350ms ease-in-out
    &:focus
      -webkit-box-shadow: none
      box-shadow: none
      border: 2px solid #0cd29a
  select
    height: auto !important

// PAYMENT FORM SECTION
.payment-form--legend
  margin: 1em 0
  font-size: 2rem
  font-weight: 300

.payment-form
  position: relative

#credit-card-errors
  position: absolute
  width: 100%
  .alert-message.block-message.error
    padding: .5em 2.5em
    color: #ff0000
    border: 1px solid
    text-align: center
    background: #ffffff

// FORUM POLLS
#poll_form
  margin: 2em 0
  padding: 2%
  background: #63636E
  color: #f2f2f2
  .form-control
    border: 2px solid #0cd29a
    background: transparent
    color: #f2f2f2
    &:focus
      background: #f2f2f2
      color: #63636E

@media (min-width: 768px)
  #poll_form
    #div_id_form-0-name,
    #div_id_form-1-name,
    #div_id_form-2-name,
    #div_id_form-3-name
      width: 32.93%
      display: inline-block
