{% extends "blog/blog.html" %}
{% block blogs %}
    {% load bootstrap_tags %}
    <div class="container-fluid blog-main-content-container">
        <div class="form-container">
            <h3 class="display-4">Add/Edit A Post</h3>
            <form method="POST" enctype="multipart/form-data" class="blog-post-form">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn fullstack-btn">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
