{% extends "home/base.html" %}
{% load staticfiles %}
{% block head_css %}
<link rel="stylesheet" href="{% static "css/pages/blog.css" %}">
{% endblock %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4"><span class="fullstack-brand rounded-right brand-border border border-left-0 border-primary">Fullstack</span> Blog</h1>
</div>
<section class="sub-hero">
    <div class="row no-gutters">
        <div class="col col-12 col-md-6 d-flex flex-wrap align-items-center">
            <a class="btn btn-subhero btn-subhero--blog" href="{% url 'blog' %}">All posts</a>
            <a class="btn btn-subhero btn-subhero--blog" href="{% url 'top_posts' %}">Top posts</a>
        </div>
        {% if user.is_authenticated and user.is_staff %}
        <div class="col col-12 col-md-6 admin-panel admin-panel--blog d-flex flex-wrap align-items-center">
            <a class="btn admin-panel-btn" href="{% url 'new_blog_post' %}">New Blog</a>
        </div>
        {% endif %}
    </div>
</section>
{% block blogs %}
{% endblock %}
{% endblock %}