{% extends "blog/blog.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %}{{ form_title }} | Fullstack Blog | Fullstack{% endblock page_title %}
{% block head_js %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinyMCE.init({
        mode: "textareas",
        theme: 'modern',
        plugins: 'paste',
        branding: false,
        height: 400,
    });
</script>
{% endblock %}
{% block blogs %}
{% load bootstrap_tags %}
<section class="blog-section--main">
    <div class="form-container">
        <h2 class="blog-post-form--title">{{ form_title }}</h2>
        <form method="POST" enctype="multipart/form-data" class="mk--forms blog-post-form">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-solid btn-solid-alt">Save</button>
        </form>
    </div>
</section>
{% endblock %}
