{% extends "blog/blog.html" %}
{% block blogs %}
    {% for post in posts %}
        <div class="row post-container no-gutters d-flex align-items-center">
            <div class="col-lg-3 col-md-2 text-center post-image-container">
                <a class="story-img" href="#">
                    {% if post.image %}
                        <img class="post-thumbnail" src="/media/{{ post.image }}">
                    {% endif %}
                </a>
            </div>
            <div class="col-lg-9 col-md-10 post-detail-container">
                <h3 class="post-title">{{ post.title }}</h3>
                <div class="row">
                    <div class="col-sm-9">
                        <p class="post-details">{{ post.published_date }} | Views <strong>{{ post.views }}</strong> | Tag <strong>{{ post.tag }}</strong></p>
                        <p class="post-snippet">{{ post.content|truncatewords:30 }}</p>
                        <p><button class="btn btn-default" onclick="location.href='{{ post.id }}'">Read More</button></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}