{% extends "blog/blog.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %}Add/Edit a Post{% endblock page_title %}
{% block head_js %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinyMCE.init({
        mode: "textareas",
        theme: 'modern',
        plugins: 'paste',
        branding: false,
        height: 400,
    });
</script>
{% endblock %}
{% block blogs %}
    {% load bootstrap_tags %}
    <div class="container-fluid blog-main-content-container">
        <div class="form-container">
            <h2>{{ form_title }}</h2>
            <form method="POST" class="blog-post-form">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" class="btn admin-btn admin-btn--blog">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
