{% extends "blog/blog.html" %}
{% block page_title %}Blogs | Learn Web Development | Minesh Kothari{% endblock page_title %}
{% block blogs %}
    {% for post in posts %}
        <div class="container">
            <div class="row post-container no-gutters d-flex align-items-center">
                <div class="col-md-3 text-center post-image-container">
                    <a class="story-img" href="#">
                        {% if post.image %}
                            <img class="post-thumbnail" src="/media/{{ post.image }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-7 post-detail-container">
                    <h3 class="post-title">{{ post.title }}</h3>
                    <div class="row">
                        <div class="col-sm-10">
                            <p class="post-details"><span class="blog-details">{{ post.published_date|date:"D d M Y" }}, {{ post.published_date|time:"H:i A" }} | Views <strong>{{ post.views }}</strong> | Tag <strong>{{ post.tag }}</strong></span></p>
                            <div class="post-snippet">{% autoescape off %}{{ post.content|truncatewords:20 }}{% endautoescape %}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 blog-read-more d-flex justify-content-center align-items-center">
                    <i class="fas fa-angle-right btn blog-read-more-icon" onclick="location.href='{{ post.id }}'"></i>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}