{% extends "home/base.html" %}
{% load staticfiles %}
{% block head_css %}
    <link rel="stylesheet" href="{% static "css/pages/blog.css" %}">
{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4"><span class="fullstack-brand rounded-right brand-border border border-left-0 border-primary">Fullstack</span> Blog</h1>
        <div class="blog-shortlinks">
            <ul>
                <li class="blog-link-lists"><a class="blog-links" href="{% url 'blog' %}">All posts</a></li>
                <li class="blog-link-lists"><a class="blog-links" href="{% url 'top_posts' %}">Top posts</a></li>
                <li class="blog-link-lists"><a class="blog-links" href="{% url 'new_post' %}">Create New</a></li>
            </ul>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                {% block blogs %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}