{% extends "blog/blog.html" %}
{% block blogs %}
    <div class="container-fluid blog-main-content-container">
        <div class="row no-gutters blog-section-row justify-content-center">
            <div class="col-sm-12">
                <div class="blog-header-container">
                    {% if post.image %}
                        <div class="blog-header-image">
                            <img class="blog-img-main" alt="{{ post.title }} Image" src="/media/{{ post.image }}"/>
                        </div>
                    {% endif %}
                    <div class="blog-header-title text-center">
                        <h3 class="display-4">{{ post.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated and user.is_staff %}
            <div class="row no-gutters blog-section-row justify-content-center">
                <div class="col-sm-12">
                    <div class="blog-section-admin">
                        <div class="row align-items-center">
                            <div class="col-sm-8 py-1"><span>You're logged in as {{ user.username }} </span></div>
                            <div class="col-sm-4 py-1"><button class="btn fullstack-btn edit-post-btn fa-pull-right" onclick="location.href='{% url 'edit' post.id %}'">Edit Post</button></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row no-gutters blog-section-row justify-content-center">
            <div class="col-sm-12">
                <div class="blog-section blog-details-container">
                    <span class="blog-details">{{ post.published_date|date:"D d M Y" }}, {{ post.published_date|time:"H:i A" }} | Views <strong>{{ post.views }}</strong> | Tag <strong>{{ post.tag }}</strong></span>
                </div>
            </div>
        </div>
        <div class="row no-gutters blog-section-row justify-content-center">
            <div class="col-sm-12">
                <div class="blog-section blog-main-content">
                    {% autoescape off %}{{ post.content }}{% endautoescape %}
                </div>
            </div>
        </div>
        <div class="row no-gutters blog-section-row justify-content-center">
            <div class="col-sm-12">
                <div class="blog-section blog-buttons">
                    <button class="btn fullstack-btn" onclick="location.href='{% url 'blog' %}'">Back To Blogs</button>
                </div>
            </div>
        </div>
        <div class="row no-gutters blog-section-row justify-content-center">
            <div class="col-sm-12">
                <div class="blog-section disqus-block">
                    {% load disqus_tags %}
                    {% set_disqus_title post.title %}
                    {% disqus_show_comments %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}