{% extends "blog/blog.html" %}
{% block blogs %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col">
                <button class="btn btn-default" onclick="location.href='{% url 'blog' %}'">Back To Blogs</button>
            </div>
            {% if user.is_authenticated and user.is_staff %}
                <div class="col">
                    <button class="btn btn-default" onclick="location.href='{% url 'edit' post.id %}'">Edit</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid blog-main-content-container">
        <div class="row no-gutters justify-content-center">
            <div class="col-sm-12 col-md-8">
                <div class="blog-main-content">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}