.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3320800/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.fullstack-brand {
  color: #17a2b8;
  border-color: #17a2b8 !important;
}

.home-section {
  min-height: 400px;
  width: 100%;
  padding: 12%;
  color: #63636E;
}

.home-section:nth-child(2n) {
  background: #e0e0e0;
}

.section-title--home {
  padding-bottom: 1.5em;
}

.cart-main {
  color: #FFFFFF !important;
  padding: 1em;
  border: 1px solid;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.cta--home {
  padding-top: 2em;
}

.btn-cta--home {
  margin-top: 2em;
  background-color: #17a2b8;
  color: #f2f2f2;
  font-size: 1.25em;
  font-weight: 400;
  padding: 1em 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.btn-cta--home:hover {
  text-decoration: none;
  color: #F2F2F2;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 0 11px 19px -8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 11px 19px -8px rgba(0, 0, 0, 0.6);
}

.home-about--row {
  text-align: center;
  max-width: 960px;
}

.language-row-container--home {
  padding: 4% !important;
}

.language-col-container--home {
  padding: .5em !important;
}

.language-link--home {
  background: #F2F2F2;
  padding: 5% 1.5em !important;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  color: #aaaaa3;
}

.language-link--home:hover {
  text-decoration: none;
  color: #63636E;
  background: #FFFFFF;
  -webkit-box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.language-image-container--home {
  width: 50%;
  max-width: 300px;
  margin: 1em;
}

.language-image--home {
  width: 100%;
}

@media (max-width: 576px) {
  .language-title--home {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .language-image-container--home {
    width: 100%;
  }
}

.blog-row--home {
  padding: 8% 0;
}

.post-container-col {
  margin-bottom: 2em;
}

.blog-col--home div {
  margin: 1em auto;
}

@media (min-width: 768px) {
  .blog-col--home {
    padding: 4% 0 4% 8% !important;
  }
}

.post-container-home {
  width: 100%;
  max-width: 600px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.post-container-home:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.post-thumbnail-container-home {
  width: 100%;
  max-width: 400px;
}

.post-thumbnail-home {
  width: 100%;
}

.post-detail-container-home {
  padding: 2em 1em;
}

.post-title {
  color: #333333 !important;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.post-details {
  font-size: 12px;
  color: #63636E;
  font-weight: 200;
}

.blog-details {
  font-size: 12px;
  color: #63636E;
  font-style: italic;
}

.blog-read-more {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.blog-read-more-icon {
  width: 100%;
  color: #aaaaa3;
  padding: 1.25em;
  font-size: 2.25em;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.blog-read-more-icon:hover {
  color: #63636E;
  cursor: pointer;
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

@media (min-width: 768px) {
  .post-container-col {
    margin-bottom: 0;
  }
}
