{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,800,800i" rel="stylesheet">
    {% block head_css %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.png' %}">
    {% block head_js %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand rounded-right border border-left-0 border-primary brand-border" href="{% url 'index' %}">Fullstack</a>
          <!-- <div class="cart-main"><i class="fas fa-shopping-cart fa-md"></i></div> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'courses' %}">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'forum' %}">Forum</a>
              </li>
            </ul>
            <ul class="nav navbar-nav justify-content-end">
              {% if user.is_authenticated %}
              {% if user.is_authenticated and user.is_staff %}
              <li class="nav-item">
                  <a class="nav-link" href="/admin">Admin</a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </header>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
   <main class="page-content">
       {% block body %}
       {% endblock %}
   </main>
    <footer class="footer">
        <div class="container">
            <div class="row footer-content">
                <div class="col-sm-12 col-md-6 footer-logo">
                    <a class="footer-brand rounded-right brand-border border border-left-0 border-primary" href="{% url 'index' %}">Fullstack</a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <span class="footer-title">Menu</span>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/courses/">Courses</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/forum/">Forum</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="/account/profile/">Account</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <span class="footer-title">External Links</span>
                    <ul>
                        <li><a href="https://www.codeinstitute.net/" target="_blank">Code Institute</a></li>
                        <li><a href="https://www.w3schools.com/" target="_blank">W3Schools</a></li>
                        <li><a href="https://stackoverflow.com/" target="_blank">Stackoverflow</a></li>
                        <li><a href="https://developers.google.com/" target="_blank">Google Developers</a></li>
                        <li><a href="https://www.python.org/" target="_blank">Python</a></li>
                        <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-gutters sub-footer-content">
            <div class="col-12">
                <p class="small sub-footer-text"><em>As part of my <a href="https://www.codeinstitute.net/" target="_blank">Code Institute</a> Stream 3 project</em></p>
                <p class="small sub-footer-text">&copy; 2018 Fullstack, All rights reserved | Designed and Developed by <a href="http://www.mineshkothari.eu5.net/" target="_blank">Minesh Kothari</a>.</p>
            </div>
        </div>
    </footer>
</body>
<!-- script references -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/fullstack/main.js' %}"></script>
    {% block page_specific_js %}{% endblock %}
</html>