{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fullstack | Learn Web Development | Minesh Kothari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,800,800i" rel="stylesheet">
    {% block head_css %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.png" %}">
    {% block head_js %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand rounded-right brand-border border border-left-0 border-primary" href="{% url 'index' %}">Fullstack</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'forum' %}">Forum</a>
              </li>
            </ul>
            <ul class="nav justify-content-end">
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% else %}
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
              {% endif %}
            </ul>
          </div>
        </nav>
    </header>

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

   <main class="page-content">
       {% block body %}
       {% endblock %}
   </main>

<footer class="footer">
    <div class="container">

        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
</body>

<!-- script references -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    {% block page_specific_js %}{% endblock %}
</html>