{% extends "home/base.html" %}
{% load staticfiles %}
{% block page_title %}Fullstack | Learn Web Development | Minesh Kothari{% endblock page_title %}
{% block head_css %}<link rel="stylesheet" href="{% static "css/pages/index.css" %}">{% endblock head_css %}
{% block body %}
    <div class="jumbotron text-center">
      <h1 class="display-4"><span class="fullstack-brand rounded-right border border-left-0">Fullstack</span> Home</h1>
    </div>
    <section class="sub-hero container-fluid">
        <div class="row no-gutters">
            <div class="col">
                {% if user.is_authenticated %}
                    <h2>Welcome, {{ user.username }}</h2>
                {% else %}
                    <h2>Join the community today and make amazing happen!</h2>
                {% endif %}

            </div>
            <div class="col">
                Become a Patreon
            </div>
        </div>
    </section>
    <section class="home-section home-about">
        <div class="row no-gutters">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </section>
    <section class="home-section home-courses">
        <div class="row no-gutters">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </section>
    <section class="home-section home-blog">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 post-container-col">
                <div class="row no-gutters d-flex justify-content-center">
                    <div class="post-container-home">
                        {% if post.image %}
                            <a class="post-thumbnail-container-home" href="#">
                                <img class="post-thumbnail-home" src="/media/{{ post.image }}" />
                            </a>
                        {% endif %}
                        <div class="post-detail-container-home">
                            <h3 class="post-title">{{ post.title }}</h3>
                            <p class="post-details"><span class="blog-details">{{ post.published_date|date:"D d M Y" }}, {{ post.published_date|time:"H:i A" }} | Views <strong>{{ post.views }}</strong> | Tag <strong>{{ post.tag }}</strong></span></p>
                            <p class="post-snippet">{% autoescape off %}{{ post.content|truncatewords:20 }}{% endautoescape %}</p>
                        </div>
                        <div class="blog-read-more d-flex justify-content-center align-items-center">
                            <i class="fas fa-angle-right btn blog-read-more-icon" onclick="location.href='{{ post.id }}'"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <span>Check out all our blogs</span>
                <a class="btn fullstack-btn"  onclick="location.href='{% url 'blog' %}'">View Blogs</a>
            </div>
        </div>
    </section>
    <section class="home-section home-forum">
    <div class="row no-gutters">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </section>
{% endblock %}
