{% extends "home/base.html" %}
{% load staticfiles %}
{% block page_title %}Fullstack | Learn Web Development | Minesh Kothari{% endblock page_title %}
{% block head_css %}<link rel="stylesheet" href="{% static "css/pages/index.css" %}">{% endblock head_css %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4"><span class="fullstack-brand rounded-right border border-left-0">Fullstack</span> Home</h1>
</div>
<section class="sub-hero">
    <div class="row no-gutters">
        <div class="col col-12 col-md-6 d-flex align-items-center">
            {% if user.is_authenticated %}
            <h2>Welcome, {{ user.display_name }}</h2>
            {% else %}
            <h2>Join the community today and make amazing happen!</h2>
            {% endif %}
        </div>
        <div class="col col-12 col-md-6 d-flex align-items-center">
            {% if user.is_authenticated %}
            <a class="" href="{% url 'profile' %}">My Profile</a>
            {% else %}
             <a class="nav-link" href="{% url 'register' %}">Register</a>
             <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</section>
<section class="home-section home-about d-flex flex-column justify-content-center align-items-center">
    <div class="row no-gutters justify-content-center align-items-center home-about--row">
        <div class="section-title--home about-title--home text-center"><h3 class="display-4">What is Fullstack?</h3></div>
        <div class="about-text--home text-center">
            In a nutshell, Fullstack is a community which not
            only helps you can learn but enables you to help
            others within Web Development. Fullstack brings
            all your development needs into one place from
            weekly blog articles, discussion forums and
            courses. Whether you’re a freelance developer,
            work in a large corporation or develop websites
            as a weekend hobby Fullstack has you covered.
        </div>
    </div>
    <div class="row no-gutters cta--home flex-column align-items-center justify-content-center">
        <div class="text-center">
            Learn more about what we do and how we can help you succeed
        </div>
        <a class="btn-cta--home text-center" href="{% url 'about'%}"><i class="fas fa-info-circle"></i> Learn More</a>
    </div>
</section>
<section class="home-section home-courses">
    <div class="row no-gutters flex-column align-items-center">
        <div class="section-title--home courses-title--home text-center"><h3 class="display-4">Improve your skills</h3></div>
        <div class="text-center">
            From front-end web UI design, to back-end database integration,
            we have the courses for everyone.
        </div>
    </div>
    <div class="language-row-container--home row no-gutters">
        {% for language in languages|slice:"3" %}
        <div class="col col-12 col-lg-4 language-col-container--home">
            <a href="{% url 'modules' language.id %}" class="language-link--home d-flex flex-row flex-sm-column justify-content-center align-items-center">
                <div class="language-image-container--home">
                    {% if language.image %}
                    <img class="language-image--home" src="{{ MEDIA_URL }}{{ language.image }}" alt="{{ language.title }} Image" />
                    {% else %}
                    <img class="language-image--home" src="/media/images/courses/languages/placeholder.png" alt="Placeholder Coding Image" />
                    {% endif %}
                </div>
                <h4 class="language-title--home text-center">{{ language.title }}</h4>
            </a>
        </div>
        {% empty %}
        <div class="empty-container d-flex flex-column justify-content-center align-items-center">
            <div class="empty-title">
                <strong>There are no courses here at the moment!</strong>
            </div>
            <div class="empty-info">
                <p>Thank you for visiting, but we don't have any available courses at the moment.</p>
                <p>We are in the process of adding new courses. Please come back soon when we'll have some courses available.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if languages %}
    <div class="row no-gutters cta--home flex-column align-items-center justify-content-center">
        <div class="text-center">
            Click on the link below to check out all our courses
        </div>
        <a class="btn-cta--home text-center" href="{% url 'courses'%}"><i class="fas fa-graduation-cap"></i> More Courses</a>
    </div>
    {% endif %}
</section>
<section class="home-section home-blog">
    <div class="row no-gutters flex-column align-items-center">
        <div class="section-title--home blog-title--home text-center"><h3 class="display-4">Be Inspired</h3></div>
        <div class="text-center">
            Keep up-to-date with everything web related, from new frameworks
            to deprecated technologies and everything in between.
        </div>
    </div>
    <div class="blog-row--home row no-gutters">
        <div class="col col-12 col-md-6 post-container-col">
            <div class="row no-gutters d-flex justify-content-center">
                {% if post %}
                <div class="post-container-home">
                    {% if post.image %}
                    <a class="post-thumbnail-container-home" href="{% url 'post_detail' post.id %}">
                        <img class="post-thumbnail-home" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }} Image" />
                    </a>
                    {% endif %}
                    <div class="post-detail-container-home">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <p class="post-details"><span class="blog-details">{{ post.published_date|date:"D d M Y" }}, {{ post.published_date|time:"H:i A" }} | Views <strong>{{ post.views }}</strong> | Tag <strong>{{ post.tag }}</strong></span></p>
                        <p class="post-snippet">{% autoescape off %}{{ post.content|truncatewords:20 }}{% endautoescape %}</p>
                    </div>
                    <div class="blog-read-more d-flex justify-content-center align-items-center">
                        <i class="fas fa-angle-right btn blog-read-more-icon" onclick="location.href='blog/{{ post.id }}'"></i>
                    </div>
                </div>
                {% else %}
                <div class="empty-container d-flex flex-column justify-content-center align-items-center">
                    <div class="empty-title">
                        <strong>Our blog is currently empty</strong>
                    </div>
                    <div class="empty-info">
                        <p>Stay tuned as we are continuously adding new blog posts to our website.</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-12 col-md-6 blog-col--home d-flex flex-column align-items-center justify-content-center text-center">
            <div>
                Staying up-to-date can be challenging in the world of Web
                Development and IT in general. That's why we bring to you
                weekly blogs to keep you on top of everything you need to
                know.
            </div>
            <div>
                <strong>Be inspired. Be motivated. Be successful.</strong>
            </div>
            <div>
                Sit back, relax and enjoy our tips, tricks and news directly
                from the comfort of your own screen, whether it's on mobile,
                tablet or desktop.
            </div>
        </div>
    </div>
    {% if post %}
    <div class="row no-gutters cta--home flex-column align-items-center justify-content-center">
        <div class="text-center">
            Check out all our latest blogs by clicking the button below
        </div>
        <a class="btn-cta--home text-center" href="{% url 'blog'%}"><i class="fas fa-pen"></i> View Blogs</a>
    </div>
    {% endif %}
</section>
<section class="home-section home-forum">
    <div class="row no-gutters flex-column align-items-center">
        <div class="section-title--home forum-title--home text-center"><h3 class="display-4">Join the Conversation</h3></div>
        <div class="text-center">
            Everyone's talking about it. Fullstack Forum is a dedicated area
            to connect one another whether it's help they need, sharing
            tips or discussing the latest trends.
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col col-12 col-md-6">

        </div>
        <div class="col col-12 col-md-6">

        </div>
    </div>
    <div class="row no-gutters cta--home flex-column align-items-center justify-content-center">
        <div class="text-center">
            Our forum is waiting for you
        </div>
        <a class="btn-cta--home text-center" href="{% url 'forum'%}"><i class="fas fa-comments"></i> Join In</a>
    </div>
</section>
{% endblock %}
