// JUMBOTRON

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_9.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  color: #dee2e6

.fullstack-brand
  color: #ea6823
  border-color: #ea6823 !important


// ACCOUNTS BTN
.btn-accent--accounts
  padding: .75em 1em
  &:hover
    color: #ea6823

// PAGE SECTIONS
.account-section
  background: #eaeaea

.login-section,
.register-section
  padding: 8%

.user-details--accounts
  font-size: 13px
  font-style: italic
  color: #f2f2f2
  font-weight: 200

.manage-account-form
  background: #404854

// PROFILE SECTION INFO
.profile-section--info
  padding: 3em
  background: #ea6823
  color: #f2f2f2

.profile-disclaimer
  margin-bottom: 1em

// FORMS
.form-container
  padding: 3em
  max-width: 500px
  margin: auto
  background-color: #404854
  color: #aaaaa3
  box-shadow: 0 17px 25px rgba(0, 0, 0, 0.13)
  legend
    margin-bottom: 2em
    font-weight: 200
    &::before
      content: ''
      display: block
      position: relative
      height: 35px
      width: 10px
      background: #ea6823
      top: 35px
      left: -48px
    span
      font-style: italic
      font-weight: 400
      color: #FFFFFF
  span.error-msg
    color: #ff0000
  .form-control
    padding: .5em 1em
    line-height: 2
    border: none
    border-bottom: 2px solid #ea6823
    width: 100%
    font-style: italic
    border-radius: 0
  .form-group
    margin-bottom: 1.75rem

// PASSWORD RESET FORM
.password-reset-form
  legend
    text-align: left
  input
    padding: .5em 1em
    line-height: 2
    border: none
    font-style: italic
    border-bottom: 2px solid #ea6823
    width: 100%
    text-align: center
  .submit-container
    margin-top: 1.75em

.manage-form-container
  max-width: none
  box-shadow: none
  position: sticky
  top: 0

.account-switcher
  a
    color: #f2f2f2
    transition: all 350ms ease-in-out
    &:hover
      color: #ea6823
      text-decoration: none

// MY COURSES - PROFILE.HTML

.my-courses--accounts
  padding: 8% 4% !important

.my-courses--title
  background: #63636E
  color: #f2f2f2
  font-size: 2rem
  font-weight: 200
  text-align: center
  padding: 1em
  border-radius: 10px
  border: .5px solid rgba(0,0,0,0.08)
  box-shadow: 0 20px 30px -25px rgba(0, 0, 0, 0.25)
  margin-bottom: 1em

@media (min-width: 1200px)
  .my-courses--title
    margin: 0 .5em 1em

// MODULE ITEMS

.mk--module-item-container
  padding: 0 0 1em 0

.mk--module-item
  padding: 8%
  background: #ffffff
  color: #63636E

.module-item--title
  padding-bottom: 1em

.module-item--description
  padding-bottom: 1em

// FORGOT PASSWORD PAGE
.forgot-password-section
  padding: 8%

.forgot-password-info
  max-width: 500px

@media (min-width: 1200px)
  .my-courses--accounts
    padding: 4% !important

  .mk--module-item-container
    padding: 1em !important

  .mk--module-item
    position: relative
    height: 100%
    min-height: 250px
    overflow: hidden

  .module-item--title
    padding-bottom: 0
    margin-bottom: 0
    transition: all 1.25s ease-in-out

  .mk--module-hover
    position: absolute
    z-index: 1
    height: 50%
    width: 50%
    border: 2em solid #ffffff
    outline: 2px solid #0cd29a
    outline-offset: -2em
    padding: 2em
    transform: rotateY(90deg)
    opacity: 0.1
    transition: all 500ms ease-in-out

  .mk--module-item:hover .mk--module-hover
    opacity: 1
    height: 100%
    width: 100%
    transform: rotate(0)

  .mk--module-item:hover .module-item--title
    transform: translateY(-50px)

  .xl-module-item--description
    position: absolute
    width: 100%
    height: 100%
    opacity: 1
    padding: 2.5em
    color: #ffffff
    pointer-events: none
    transform: translateY(100%)
    transition: transform 1.25s ease-in-out, color 350ms ease-in-out
    p
      margin-bottom: 0

  .mk--module-item:hover .xl-module-item--description
    transform: translateY(40%)
    opacity: 1
    color: #63636E

// ALERT
.form-container .alert-danger
  color: #ea6823
  position: relative
  top: -25px

// CHECKOUT LOGIN PAGE
.checkout-login-message
  max-width: 500px
  margin: 0 auto 1em

// REGISTER FORM MEDIA QUERY
@media (max-width: 500px)
  .account-section
    padding: 0
