@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css"

// JUMBOTRON

.jumbotron
  background: linear-gradient(rgba(52,58,64,1),rgba(52,58,64,0.6)), url("https://source.unsplash.com/collection/3320800/")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  color: #dee2e6

.fullstack-brand
  color: #ea6823
  border-color: #ea6823 !important

// PAGE SECTIONS
.account-section
  background: #eaeaea

.login-section,
.register-section
  padding: 8%

.user-details--accounts
  font-size: 13px
  font-style: italic
  color: #f2f2f2
  font-weight: 200

// FORMS
.form-container
  padding: 3em
  max-width: 500px
  margin: auto
  background-color: #404854
  color: #aaaaa3
  box-shadow: 0 17px 25px rgba(0, 0, 0, 0.13)
  legend
    margin-bottom: 2em
    font-weight: 200
    &::before
      content: ''
      display: block
      position: relative
      height: 35px
      width: 10px
      background: #ea6823
      top: 35px
      left: -48px
    span
      font-style: italic
      font-weight: 400
      color: #FFFFFF
  span.error-msg
    color: red
    position: relative
    top: -233px
  .form-control
    font-style: italic
    font-weight: 200
    line-height: 2
    background-color: #4e555b
    border: .5px solid #aaaaa3
    color: #aaaaa3
    transition: all 350ms ease-in-out
    &:hover
      box-shadow: 0 10px 50px -7px rgba(0,0,0,0.25)
  .form-group
    margin-bottom: 1.75rem

.manage-form-container
  max-width: none
  box-shadow: none

.account-switcher
  a
    color: #f2f2f2
    transition: all 350ms ease-in-out
    &:hover
      color: #ea6823
      text-decoration: none


//#div_id_password
//  display: none

// ENFORCING COLOUR OF PLACEHOLDER TEXT
::-webkit-input-placeholder
  color: #aaaaa3 !important

input:-webkit-autofill
  -webkit-box-shadow: inset 0 0 0 1000px #4e555b !important
  -webkit-text-fill-color: #aaaaa3

.my-courses--accounts
  padding: 4% !important

.empty-my-module-container
  background: #FFFFFF
  padding: 2em
  margin: 4em auto
  color: #63636E
  max-width: 960px
  text-align: center
  border: .5px solid rgba(12, 210, 154,.15)
  border-radius: 10px
  box-shadow: 0 15px 38px -12px rgba(234, 104, 35, .095)
  .empty-my-module-title
    position: relative
    font-size: 1.25em
    &::after
      position: absolute
      content: ''
      background: #ea6823
      height: 1px
      width: 66%
      left: 50%
      transform: translateX(-50%)
      bottom: .85em

.empty-my-module-container > div
  padding-bottom: 2em

.empty-my-module-container > div:last-of-type
  padding-bottom: 0

.empty-my-module-cta--button
  margin-top: 2em
  background-color: #ea6823
  color: #f2f2f2
  font-size: 1.25em
  font-weight: 400
  border: .5px solid #ea6823
  padding: .5em 1em
  letter-spacing: 1px
  text-transform: uppercase
  box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4)
  transition: all 350ms ease-in-out
  &:hover
    text-decoration: none
    color: #F2F2F2
    transform: translateY(-4px)
    box-shadow: 0 11px 19px -8px rgba(0, 0, 0, 0.6)

// ALERT
.form-container .alert-danger
  color: #ea6823
  position: relative
  top: -25px

// REGISTER FORM MEDIA QUERY
@media (max-width: 500px)
  .account-section
    padding: 0
