<div class="information-container d-flex flex-column justify-content-center align-items-center">
    <div class="information-title"><strong>The cart is currently empty</strong></div>
    <div>
        <p>Modules added to the cart will appear here and it seems you haven't added any yet.</p>
        <p class="mb-0">To add modules to the cart, please visit the link below to check out our range of courses.</p>
        <a class="btn-solid empty-cart-cta--button" href="{% url 'courses'%}"><i class="fas fa-graduation-cap"></i> View Courses</a>
    </div>
</div>