{% extends 'home/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Fullstack | Learn Web Development | Minesh Kothari{% endblock page_title %}
{% block head_css %}<link rel="stylesheet" href="{% static "css/pages/cart.css" %}">{% endblock head_css %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4"><span class="fullstack-brand rounded-right border border-left-0">Fullstack</span> Cart</h1>
</div>
<section class="sub-hero">
    <div class="row no-gutters">
        <div class="col col-12">
            <h2>Check out your cart items below</h2>
            <a href="{% url 'courses' %}" class="btn-subhero btn-subhero--cart">Continue Shopping</a>
        </div>
    </div>
</section>
<section class="cart-section--main">
    <div class="container">
        {% for module in cart_items %}
        <div class="row no-gutters cart-items--row d-flex align-items-center">
            <div class="col-12 col-md-4 cart-items--col">
                <div class="cart-items--title">{{ module.title }}</div>
                <p class="cart-items--remove"><a href="{% url 'remove_from_cart' module.id %}">remove</a></p>
            </div>
            <div class="col-12 col-md-6 cart-items--col d-flex align-items-center">
                <div>{% autoescape off %}{{ module.description|truncatewords:10 }}{% endautoescape %}</div>
            </div>
            <div class="col-12 col-md-2 cart-items--col d-flex align-items-center justify-content-end">
                <p>£ {{ module.price }}</p>
            </div>
        </div>
        {% empty %}
        <div class="empty-cart-container d-flex flex-column justify-content-center align-items-center">
            <div class="empty-cart-title">
                <strong>The cart is currently empty</strong>
            </div>
            <div class="empty-cart-info">
                Modules added to the cart will appear here and it seems you haven't added any yet.
            </div>
            <div class="empty-cart-cta d-flex flex-column justify-content-center align-items-center">
                <div class="empty-cart-cta--text">
                    To add modules to the cart, please visit the link below to check out our range of courses.
                </div>
                <a class="empty-cart-cta--button" href="{% url 'courses'%}"><i class="fas fa-graduation-cap"></i> View Courses</a>
            </div>
        </div>
        {% endfor %}
        {% if cart_items %}
        <div class="row no-gutters cart-total--row">
            <div class="col-12 col-sm-6 cart-total--col d-flex justify-content-center justify-content-sm-start align-items-center">
                <p class="cart-items--total"><strong>Total</strong> <span>£{{ total }}</span></p>
            </div>
            <div class="col-12 col-sm-6 cart-total--col d-flex justify-content-center justify-content-sm-end align-items-center">
                <a href="{% url 'checkout' %}" class="cart-items--pay" role="button"><i class="fas fa-credit-card"></i> Enrol Now</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}