{% extends 'home/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Fullstack | Learn Web Development | Minesh Kothari{% endblock page_title %}
{% block head_css %}<link rel="stylesheet" href="{% static "css/pages/cart.css" %}">{% endblock head_css %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4"><span class="fullstack-brand rounded-right border border-left-0">Fullstack</span> Cart</h1>
</div>
<section class="sub-hero">
    <div class="row no-gutters">
        <div class="col col-12 col-md-6">
            {% if user.is_authenticated %}
            <h2>Welcome, {{ user.display_name }}</h2>
            {% else %}
            <h2>Join the community today and make amazing happen!</h2>
            {% endif %}
        </div>
        <div class="col col-12 col-md-6">
            Become a Patreon
        </div>
    </div>
</section>
<section class="cart-section--main">
    <div class="container">
        {% for item in cart_items %}
        <div class="row no-gutters cart-items--row d-flex align-items-center">
            <div class="col-12 col-md-4 cart-items--col">
                <div class="cart-items--title">{{ item.module.title }}</div>
                <p class="cart-items--remove">remove</p>
            </div>
            <div class="col-12 col-md-6 cart-items--col d-flex align-items-center">
                <div>{% autoescape off %}{{ item.module.description|truncatewords:10 }}{% endautoescape %}</div>
            </div>
            <div class="col-12 col-md-2 cart-items--col d-flex align-items-center justify-content-end">
                <p>£ {{ item.module.price }}</p>
            </div>
        </div>
        {% empty %}
        <p>You have no items in your cart!</p>
        {% endfor %}
        <div class="row no-gutters cart-total--row">
            <div class="col-12 col-sm-6 cart-total--col d-flex justify-content-center justify-content-sm-start align-items-center">
                <p class="cart-items--total"><strong>Total</strong> <span>£{{ total }}</span></p>
            </div>
            <div class="col-12 col-sm-6 cart-total--col d-flex justify-content-center justify-content-sm-end align-items-center">
                <a href="#" class="cart-items--pay" role="button"><i class="fas fa-credit-card"></i> Enrol Now</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}