.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3320800/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.fullstack-brand {
  color: #0cd29a;
  border-color: #0cd29a !important;
}

.checkout-section-col {
  padding: 4% !important;
}

.cart-list--col {
  background: #FFFFFF;
}

.cart-item-list-title {
  margin: 1em 0;
  font-size: 2rem;
  font-weight: 300;
}

.cart-items--row {
  margin-bottom: 2em;
  padding: .5em;
  background: #f2f2f2;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  color: #63636E;
}

.cart-items--row p {
  margin-bottom: 0;
}

.cart-items--col {
  padding: 1em !important;
}

.cart-items--title {
  font-size: 1.125em;
}

.cart-total--row {
  margin-top: 2em;
  padding: .5em 1.5em;
  background: #f2f2f2;
  border-top: 1px solid #0cd29a;
  border-bottom: 1px solid #0cd29a;
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  color: #63636E;
}

.cart-total--row p {
  margin-bottom: 0;
}

.cart-total--col {
  padding: 1em 0 !important;
}

.cart-items--total {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.25em;
}

.cart-items--total span {
  margin-left: 1em;
}

.payment-form--legend {
  margin: 1em 0;
  font-size: 2rem;
  font-weight: 300;
}

.payment-form {
  position: relative;
}

.payment-form .form-control {
  padding: 1em;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #0cd29a;
  border-radius: 0;
  color: #63636E;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.payment-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #0cd29a;
}

.payment-form select {
  height: auto !important;
}

#credit-card-errors {
  position: absolute;
  width: 100%;
}

#credit-card-errors .alert-message.block-message.error {
  padding: .5em 2.5em;
  color: #ff0000;
  border: 1px solid;
  text-align: center;
  background: #ffffff;
}
