.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_4.jpg") center no-repeat/cover;
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_4.jpg") center no-repeat/cover;
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_4.jpg") center no-repeat/cover;
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://s3.eu-west-2.amazonaws.com/mk-fullstack/static/assets/backgrounds/Image_4.jpg") center no-repeat/cover;
  color: #dee2e6;
}

.fullstack-brand {
  color: #0cd29a;
  border-color: #0cd29a !important;
}

.checkout-section-col {
  padding: 4% !important;
}

.cart-list--col {
  background: #FFFFFF;
}

.cart-item-list-title {
  margin: 1em 0;
  font-size: 2rem;
  font-weight: 300;
}

.cart-items--row {
  margin-bottom: 2em;
  padding: .5em;
  background: #f2f2f2;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  color: #63636E;
}

.cart-items--row p {
  margin-bottom: 0;
}

.cart-items--col {
  padding: 1em !important;
}

.cart-items--title {
  font-size: 1.125em;
}

.cart-total--row {
  margin-top: 2em;
  padding: .5em 1.5em;
  background: #f2f2f2;
  border-top: 1px solid #0cd29a;
  border-bottom: 1px solid #0cd29a;
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  color: #63636E;
}

.cart-total--row p {
  margin-bottom: 0;
}

.cart-total--col {
  padding: 1em 0 !important;
}

.cart-items--total {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.25em;
}

.cart-items--total span {
  margin-left: 1em;
}
