// FULLSTACK BUTTON
.fullstack-btn
  background-color: transparent
  color: #f2f2f2
  border: .5px solid
  padding: .5em 1em
  font-weight: 200
  letter-spacing: 1px
  text-transform: uppercase
  transition: all 350ms ease-in-out
  &:hover
    background-color: #f2f2f2
    color: #404854
    border: .5px solid #f2f2f2
    transform: translateY(-3px)
    box-shadow: 0 10px 50px -7px rgba(0,0,0,0.25)

// SUBHERO BUTTON
.btn-subhero
  margin: .25em
  color: #f2f2f2
  border: .5px solid
  padding: 1em 2em
  font-weight: 200
  letter-spacing: 1px
  text-transform: uppercase
  transition: all 350ms ease-in-out
  &:hover
    color: #f2f2f2
    border: .5px solid
    text-decoration: none

// ADMIN BUTTONS
.admin-panel-btn
  margin: .25em
  color: #63636E
  border: .5px solid
  padding: 1em 2em
  font-weight: 200
  letter-spacing: 1px
  text-transform: uppercase
  transition: all 350ms ease-in-out
  &:hover
    color: #ff0000
    border: .5px solid
    text-decoration: none

.admin-btn
  margin: .25em
  background: #0cd29a
  color: #f2f2f2
  border: 1px solid #0cd29a
  padding: 1em 2em
  letter-spacing: 1px
  text-transform: uppercase
  transition: all 350ms ease-in-out
  &:hover
    background: transparent
    color: #0cd29a
    text-decoration: none


// COURSES BUTTONS
.enrol-btn
  background-color: #0cd29a
  color: #f2f2f2
  font-size: 1.25em
  font-weight: 400
  border: .5px solid #0cd29a
  padding: .5em 1em
  letter-spacing: 1px
  text-transform: uppercase
  box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4)
  cursor: pointer

.go-to-course-btn
  color: #0cd29a
  font-size: 1.25em
  font-weight: 400
  border: 2px solid #0cd29a
  padding: .5em 1em
  letter-spacing: 1px
  text-transform: uppercase
  box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4)
  cursor: pointer
  transition: all 350ms ease-in-out
  &:hover
    text-decoration: none
    color: #f2f2f2
    background-color: #0cd29a

// INDEX CTA BUTTON
.btn-cta--home
  margin-top: 2em
  background-color: #17a2b8
  color: #f2f2f2
  font-size: 1.25em
  font-weight: 400
  padding: 1em 1.5em
  letter-spacing: 1px
  text-transform: uppercase
  box-shadow: 0 7px 15px -6px rgba(0, 0, 0, 0.4)
  transition: all 350ms ease-in-out
  &:hover
    text-decoration: none
    color: #F2F2F2
    transform: translateY(-4px)
    box-shadow: 0 11px 19px -8px rgba(0, 0, 0, 0.6)


// PAYMENT BUTTON
.payment-button
  margin-top: 3.5em
  background: #0cd29a
  font-size: 1.25rem
  color: #f2f2f2
  border: 2px solid #0cd29a
  padding: .75em 1.25em
  letter-spacing: 1px
  text-transform: uppercase
  transition: all 350ms ease-in-out
  &:hover
    background: transparent
    color: #0cd29a
    text-decoration: none
    cursor: pointer