{% extends "accounts/account.html" %}
{% block page_title %}New Password Setup | Fullstack | Learn Web Development{% endblock page_title %}
{% block accounts_subtitle %}
        <h2>New Password Setup</h2>
{% endblock %}
{% block account %}
<section class="forgot-password-section">
    {% if validlink %}
    <p class="forgot-password-info">Please enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="form-container">
        <form method="post" role="form" class="password-reset-form text-center">
            <legend>Enter new password</legend>
            {% csrf_token %}
            <div class="form-group">
                 {{ form.new_password1.errors }}
                <label for="id_new_password1" class="control-label required-field">New Password</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
             {{ form.new_password2.errors }}
            <label for="id_new_password2" class="control-label required-field">Confirm Password</label>
            {{ form.new_password2 }}
            </div>
            <div class="form-group submit-container">
                <button type="submit" class="btn btn-lg fullstack-btn form-submit-btn">Confirm</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="empty-container d-flex flex-column justify-content-center align-items-center">
        <div class="empty-title">
            <strong>Password reset unsuccessful</strong>
        </div>
        <div class="empty-info">
            <p>This link is either invalid or has already been used. Please request a new one by clicking on the link below.</p>
        </div>
        <a href="{% url 'password_reset' %}" class="text-center">Password reset</a>
    </div>
    {% endif %}
</section>
{% endblock %}