.fullstack-brand {
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3316384/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3316384/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3316384/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3316384/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.jumbotron span.border {
  border: 2px solid #FF0000 !important;
  border-left: 0 !important;
}

.register-title {
  height: 200px;
  background: #63636e;
  color: #aaaaa3;
}

.register-section {
  background: #eaeaea;
  padding: 8%;
}

.register-form-container {
  padding: 3em;
  max-width: 500px;
  margin: auto;
  background-color: #404854;
  color: #aaaaa3;
  -webkit-box-shadow: 0 17px 25px rgba(0, 0, 0, 0.13);
  box-shadow: 0 17px 25px rgba(0, 0, 0, 0.13);
}

.register-form-container legend {
  margin-bottom: 2em;
  font-weight: 200;
}

.register-form-container legend::before {
  content: '';
  display: block;
  position: relative;
  height: 35px;
  width: 10px;
  background: red;
  top: 35px;
  left: -48px;
}

.register-form-container legend span {
  font-style: italic;
  font-weight: 400;
  color: #FFFFFF;
}

.register-form-container span.error-msg {
  color: red;
  position: relative;
  top: -233px;
}

.register-form-container .form-control {
  font-style: italic;
  font-weight: 200;
  line-height: 2;
  background-color: #4e555b;
  border: .5px solid #aaaaa3;
  color: #aaaaa3;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.register-form-container .form-control:hover {
  -webkit-box-shadow: 0 10px 50px -7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 50px -7px rgba(0, 0, 0, 0.25);
}

.register-form-container .form-control:focus {
  border: .5px solid red;
  background-color: rgba(255, 0, 0, 0.15);
}

.register-form-container .form-group {
  margin-bottom: 1.75rem;
}

::-webkit-input-placeholder {
  color: #aaaaa3 !important;
}

.form-submit-btn {
  background-color: transparent;
  color: #f2f2f2;
  border: .5px solid;
  padding: .5em 1em;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.form-submit-btn:hover {
  background-color: #f2f2f2;
  color: #404854;
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 50px -7px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 50px -7px rgba(0, 0, 0, 0.25);
}

@media (max-width: 500px) {
  .register-section {
    padding: 0;
  }
}
