.fullstack-brand {
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3316384/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3316384/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3316384/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3316384/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.jumbotron span.border {
  border: 2px solid #FF4500 !important;
  border-left: 0 !important;
}

.forum-intro {
  background: #4e555b;
  color: #aaaaa3;
  padding: 8%;
}

.subject-section {
  margin: 2em auto;
  padding: 5%;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 15px 50px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 15px 50px -25px rgba(0, 0, 0, 0.25);
  max-width: 90%;
}
