.jumbotron {
  background: -webkit-gradient(linear, left top, left bottom, from(#343a40), to(rgba(52, 58, 64, 0.6))), url("https://source.unsplash.com/collection/3320800/");
  background: -webkit-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: -o-linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background: linear-gradient(#343a40, rgba(52, 58, 64, 0.6)), url("https://source.unsplash.com/collection/3320800/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #dee2e6;
}

.fullstack-brand {
  color: #0cd29a;
  border-color: #0cd29a !important;
}

.forum-intro {
  background: #4e555b;
  color: #aaaaa3;
  padding: 8%;
}

.subject-container {
  margin: 3em auto;
  padding: 3em 1.5em;
  max-width: 960px;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.subject-container:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.subject-container .forum-title {
  color: #aaaaa3;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.subject-container .subject-desc p {
  color: #63636E;
  margin-bottom: 0;
  font-style: italic;
}

.subject-container .activity-counter {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #63636E;
  font-size: 12px;
}

.subject-container .activity-counter span {
  font-weight: 800;
}

.forum-title-link {
  color: #aaaaa3;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.forum-title-link:hover {
  text-decoration: none;
  color: #63636E;
}

.thread-container {
  margin: 3em auto;
  padding: 3em 1.5em;
  max-width: 960px;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 40px -25px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.thread-container:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 40px 60px -25px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.thread-created-by,
.thread-created-at {
  font-size: 12px;
}

.singular-post-container {
  background: #ffffff;
  padding: 1em 0;
  margin: 2em 0;
}

.contributor-profile {
  font-size: 14px;
  font-weight: 200;
}

.contributor-profile .profile-info {
  display: block;
  text-align: center;
}

.post-timer {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  display: block;
}

@media (min-width: 768px) {
  .activity-counter {
    text-align: right;
  }
}

@media (max-width: 767px) {
  .forum-title,
  .subject-desc,
  .activity-counter {
    text-align: center;
    padding-bottom: .5em;
  }
  .subject-desc p {
    padding-bottom: 1em;
  }
}
