{% extends "home/base.html" %}
{% load staticfiles %}
{% block head_css %}
    <link rel="stylesheet" href="{% static "css/pages/account.css" %}">
{% endblock %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4"><span class="fullstack-brand rounded-right brand-border border border-left-0 border-primary">Fullstack</span> Account</h1>
</div>
<section class="sub-hero">
    <div class="row no-gutters">
        <div class="col col-12 col-md-6 d-flex align-items-center">
            {% block accounts_subtitle %}{% endblock %}
        </div>
        {% if user.is_authenticated and user.is_staff %}
        <div class="col col-12 col-md-6 admin-panel admin-panel--accounts d-flex flex-wrap align-items-center">
            <a class="btn btn-transparent btn-admin-panel" href="{% url 'new_language' %}">New language</a>
            <a class="btn btn-transparent btn-admin-panel" href="{% url 'new_module' %}">New module</a>
        </div>
        {% endif %}
    </div>
</section>
{% block account %}
{% endblock %}
{% endblock %}