{% extends "accounts/account.html" %}
{% load bootstrap_tags %}
{% block page_title %}Login | Fullstack | Learn Web Development{% endblock page_title %}
{% block accounts_subtitle %}
        <h2>Log in below</h2>
{% endblock %}
{% block account %}
<section class="account-section login-section">
    {% if 'checkout/' in request.path %}
    <div class="p-3">
        <div class="information-container checkout-login-message">
            <strong>{{ login_required_message }}</strong>
        </div>
    </div>
    {% endif %}
    <div class="form-container login-form-container">
        <form role="form" method="post">
            <legend>Login</legend>
            {% csrf_token %}
            {{ form| as_bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-transparent btn-accent--accounts form-submit-btn">Login</button>
            </div>
        </form>
        <div class="account-switcher">
            <div>
                <p><a href="{% url 'password_reset' %}">Forgotten Password?</a></p>
                <p>Don't have an account yet? <a href="{% url 'register' %}">Register here</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}