{% extends "accounts/account.html" %}
{% load bootstrap_tags %}
{% block page_title %}My Profile | Fullstack{% endblock page_title %}
{% block accounts_subtitle %}
    <div class="row no-gutters">
        <h2>View and manage your profile</h2>
    </div>
    <div class="row no-gutters user-details--accounts">
        <div class="col-12">You are logged in as <strong>{{ user.email }}</strong></div>
        <div class="col-12">You last logged in on <strong>{{ user.last_login|date:"d M Y" }}</strong> at <strong>{{ user.last_login|time:"H:i A" }}</strong></div>
    </div>
{% endblock %}
{% block account %}
<section class="profile-section account-section">
    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-xl-3 manage-account-form">
            <div class="form-container manage-form-container">
                <form role="form" method="post" action="{% url 'profile' %}">
                    <legend> Manage <span>your</span> account</legend>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg fullstack-btn form-submit-btn">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-9 my-courses--accounts">
            <h3>My Courses</h3>
            <div class=".mk--row-module-list row">
                {% for module in my_courses %}
                <div class="mk--module-item-container col-12 col-xl-6">
                    <div class="mk--module-item d-flex flex-column justify-content-center">
                        <h3 class="module-item--title text-center">{{ module.title }}</h3>
                        <div class="module-item--description mt-auto text-center">{% autoescape off %}{{ module.description }}{% endautoescape %}</div>
                        <a class="text-center" href="{% url 'module_item' module.id %}">Go to course</a>
                    </div>
                </div>
                {% empty %}
                <div class="empty-my-module-container d-flex flex-column justify-content-center align-items-center">
                    <div class="empty-my-module-title">
                        <strong>You haven't enrolled on any courses yet!</strong>
                    </div>
                    <div class="empty-my-module-info">
                        You're currently not enrolled on any of our courses. Don't worry, once you've enrolled they will show up here.
                    </div>
                    <div class="empty-my-module-cta d-flex flex-column justify-content-center align-items-center">
                        <div class="empty-my-module-cta--text">
                            Get started by checking out our courses by clicking the link below?
                        </div>
                        <a class="empty-my-module-cta--button" href="{% url 'courses'%}"><i class="fas fa-graduation-cap"></i> Courses</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}