{% extends "accounts/account.html" %}
{% load bootstrap_tags %}
{% block page_title %}Register | Fullstack | Learn Web Development{% endblock page_title %}
{% block accounts_subtitle %}
        <h2>Register today for free</h2>
{% endblock %}
{% block account %}
<section class="account-section register-section">
    <div class="form-container register-form-container">
        <form role="form" method="post" action="{% url 'register' %}">
            <legend>Create <span>your</span> new account</legend>
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-transparent btn-accent--accounts form-submit-btn">Create account</button>
            </div>
        </form>
        <div class="account-switcher">
            <div>Already registered? <a href="{% url 'login' %}">Login here</a></div>
        </div>
    </div>
</section>
{% endblock %}
