{% extends "accounts/account.html" %}
{% load bootstrap_tags %}
{% block page_title %}Register | Fullstack | Learn Web Development{% endblock page_title %}
{% block account %}
    <section class="account-page-title register-title">
        <h2>Sign up today for free to access our courses</h2>
    </section>
    <section class="account-section register-section">
        <div class="form-container register-form-container">
            <form role="form" method="post" action="{% url 'register' %}">
                <legend>Create <span>your</span> new account</legend>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-lg fullstack-btn form-submit-btn">Create account</button>
                </div>
            </form>
            <div class="account-switcher">
                <span>
                    Already registered? <a href="{% url 'login' %}">Login here</a>
                </span>
            </div>
        </div>
    </section>
{% endblock %}
